h1 {
    color: #98A2A4;
    text-align: center;
    font-family: "Times New Roman", Times, serif
}

body
{

}


div.chart
{
	margin-left: 15%;
	width : 70%;
	height : 70%;
}
button.button1
{
	margin-left: 45%;
	width: 10%;
	height: 30px;

	border-radius: 0px;
	border: none;
	background: #5294E2;
	color:#f0f0f0;
	margin-top: 10px;
	transition:all .4s;
}

button.button1:hover {
    background: #45b7ff;
}

.button2
{
    display: block;
    width: 10%;
    margin-left: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    transition:all .4s;
    font-size: 12;
}

.button2:hover
{
    opacity: 0.8;
}

.button2#exporttempbutton
{
    background: #21AE6C; 
}



.button2#exporthumbutton
{
    background: #FFB300;
}



.button2#exportcsvbutton
{
    background: #d1154a;
}


.weatherLink
{
	text-align: center;
	color:#5EBDB5;
	font-size: 15;
}

.weatherLink:hover
{
	color:#86DDCD;
}

div#location
{
	text-align: center;
	color:#21AE6C;

}

span.dayTemp,#sunrise
{
	color:#5294E2;
}

span.dayHum,#windspeed
{
	color:#AC395A;
}

span.dayPress
{
	color:#21AE6C;
}

span.nightTemp,#sunset
{
	color:#000066;
}

.weekday
{
	color:#AC395A;
}

div.extendSub
{
	margin-left: 5px;
	font-size: 13px;
}

li.day
{
	text-align: center;
	display: inline-block;
	color:#98A2A4;
	width: 19%
}

li.currentWeatherItem
{
	text-align: left;
	display: inline-block;
	color:#98A2A4;
	width: 20%;
}

ul#currentstate
{
	margin-left: 25%;
}

ul#days
{
	
}

img.weatherIcon
{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	transition:all .4s;
}

img#currentweathericon
{
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

img#windicon
{
	width:10px;
	height:10px;
	border-radius: 10px;
}

img.weatherIcon:hover,#windicon:hover
{
	opacity: 0.8;
}
